<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../public/css/style.css">
</head>
<body>
    <div class="footer">
        <div class="foot-container">
            <div class="row-footer">
                <div class="footer-col">
                    <h4>Thông tin chung</h4>
                    <ul>
                        <li><a href="">TDV là hệ thống cửa hàng cầu lông  cung cấp sỉ và lẻ các mặt hàng dụng cụ cầu lông từ phong trào tới chuyên nghiệp</a></li>
                        <li><a href="">Châm ngôn <em>"Thể thao không chỉ là cuộc chơi, mà còn là cuộc sống."</em></a></li>
                        <li><a href="">Tuyển dụng</a></li>
                        <li><a href="">Câu hỏi thường gặp (FAQ)</a></li>

                    </ul>
                </div>

                <div class="footer-col">
                    <h4>Chính sách</h4>
                    <ul>
                        <li><a href="">Chính sách đổi trả, hoàn tiền</a></li>
                        <li><a href="">Chính sách bảo hành</a></li>
                        <li><a href="">Chính sách xử lí khiếu nại</a></li>
                        <li><a href="">Chính sách vận chuyển</a></li>
                        <li><a href="">Chính sách bảo mật thông tin</a></li>
                        <li><a href="">Điều khoản sử dụng</a></li>



                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Thông tin liên hệ</h4>
                    <ul>
                        <li><a href="">Địa chỉ: Hưng Yên, Việt Nam</a></li>
                        <li><a href="">Số điện thoại: +8439424235</a></li>
                        <li><a href="">Email: tdv@gmail.com</a></li>
                        <li><a href="">Hợp tác kinh doanh: +8473427384</a></li>

                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Theo dõi chúng tôi</h4>
                    <div class="socials-link">
                        <a href=""><i class="fab fa-facebook-f"></i></a>
                        <a href=""><i class="fab fa-twitter"></i></a>
                        <a href=""><i class="fab fa-instagram"></i></a>
                        <a href=""><i class="fab fa-linkedin-in"></i></a>
                        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d7450.6609100230935!2d105.785584819274!3d20.979386717233954!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135accdd8a1ad71%3A0xa2f9b16036648187!2zSOG7jWMgdmnhu4duIEPDtG5nIG5naOG7hyBCxrB1IGNow61uaCB2aeG7hW4gdGjDtG5n!5e0!3m2!1svi!2s!4v1718166028751!5m2!1svi!2s" width="300" height="250" style="border:0;margin-top: 20px;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>


                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>