<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../public/images/logo1-removebg.png" type="image/x-icon" >
    <!--link to css-->
    <link rel="stylesheet" href="../public/css/new.css">

    <!--link boxicons-->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>


</head>
<body>
    <%- include('header') %>
   

    <!--poster-->
    <div class="grid-container">
        <div class="item1">
            <img src="../public/images/tap-chi1.jpg" alt="">
            <h1>Cùng Khám Phá Công Nghệ Mới Trên Những <br> Đôi Giày Cầu Lông Tối Ưu Hiệu Quả</h1>
        </div>
        <div class="item2">
            <img src="../public/images/tap-chi2.jfif" alt="">
            <h2>Cầu Lông - Sự Kết Hợp Hoàn Hảo Giữa Kỹ Thuật Và Chiến Lược</h2>
        </div>
        <div class="item3">
            <img src="../public/images/tap-chi3.jpg" alt="">
            <h3>Những Điều Bạn Chưa Biết Về Các Giải Đấu Cầu Lông Quốc Tế</h3>
        </div>
        <div class="item4">
            <img src="../public/images/chon-vot.jfif" alt="">
            <h3>Làm Thế Nào Để Cải Thiện Kỹ Thuật Chơi Cầu Lông Hiệu Quả?</h3>
        </div>
    </div>
    
    <!--Post-->
    <div class="title-new">Tin Tức Nổi Bật</div>
    <section class="post">
        <!--Post box1-->
        <div class="post-box">
            <img src="../public/images/tuyen-cau-long.jpg" alt="" class="post-img">
            <a href=""    class="post-title">
                Đội tuyển cầu lông Việt Nam chuẩn bị cho SEA Games
            </a>
            <span class="post-date"><i class="fa-regular fa-calendar-days"></i> Ngày 12 tháng 3 năm 2024</span>
            <p class="post-des">Tay vợt Nguyễn Tiến Minh đã xuất sắc giành chiến thắng trong trận tứ kết để tiến...</p>
            <a href="#" target="_blank" class="react"  >
                <span>
                    <i class="fa-regular fa-heart"> 10</i>
                </span>
                <span>   
                  <i class="fa-regular fa-comment" > 12</i>
                </span>
                <span class="more">Xem thêm</span>

            </a>
           
            
        </div>
         <!--Post box2-->
         <div class="post-box">
            <img src="../public/images/bang-xep-hang.jfif" alt="" class="post-img">
            <a href=""    class="post-title">
                Cầu lông Việt Nam thăng hạng trên bảng xếp hạng thế giới
            </a>
            <span class="post-date"><i class="fa-regular fa-calendar-days"></i> Ngày 24 tháng 1 năm 2023</span>
            <p class="post-des">Đội tuyển cầu lông Việt Nam đã có những bước tiến vượt bậc trên bảng xếp...</p>
            <a href="#" target="_blank" class="react"  >
                <span>
                    <i class="fa-regular fa-heart"> 10</i>
                </span>
                <span>   
                  <i class="fa-regular fa-comment" > 12</i>
                </span>
                <span class="more">Xem thêm</span>

            </a>
           

        </div> 
         <!--Post box3-->
         <div class="post-box">
            <img src="../public/images/chan-thuong.jfif" alt="" class="post-img">
            <a href=""    class="post-title">
                Chấn thương khiến tay vợt số 1 thế giới bỏ lỡ giải đấu lớn
            </a>
            <span class="post-date"><i class="fa-regular fa-calendar-days"></i> Ngày 22 tháng 11 năm 2022</span>
            <p class="post-des">Tay vợt số 1 thế giới bỏ lỡ giải đấu vì chấn thương...</p>
            <a href="#" target="_blank" class="react"  >
                <span>
                    <i class="fa-regular fa-heart"> 10</i>
                </span>
                <span>   
                  <i class="fa-regular fa-comment" > 12</i>
                </span>
                <span class="more">Xem thêm</span>

            </a>
           
        </div>
        <!--Post box4-->
        <div class="post-box">

            <img src="../public/images/trickshot.jfif" alt="" class="post-img">
            <a href=""    class="post-title">
                Kỹ thuật nâng cao giúp cải thiện hiệu suất thi đấu cầu lông
            </a>
            <span class="post-date"><i class="fa-regular fa-calendar-days"></i> Ngày 10 tháng 5 năm 2024</span>
            <p class="post-des">Các kĩ thuật nâng cao nhằm giúp người chơi...</p>
            <a href="#" target="_blank" class="react"  >
                <span>
                    <i class="fa-regular fa-heart"> 10</i>
                </span>
                <span>   
                  <i class="fa-regular fa-comment" > 12</i>
                </span>
                <span class="more">Xem thêm</span>

            </a>
           
            
        </div>
         <!--Post box5-->
         <div class="post-box">

            <img src="../public/images/chon-vot.jfif" alt="" class="post-img">
            <a href=""    class="post-title">
                Hướng dẫn chọn vợt cầu lông phù hợp cho người mới bắt đầu
            </a>
            <span class="post-date"><i class="fa-regular fa-calendar-days"></i> Ngày 4 tháng 2 năm 2023 </span>       
            <p class="post-des">Bí quyết chọn vợt cầu lông cho người mới...</p>
            <a href="#" target="_blank" class="react"  >
                <span>
                    <i class="fa-regular fa-heart"> 10</i>
                </span>
                <span>   
                  <i class="fa-regular fa-comment" > 12</i>
                </span>
                <span class="more">Xem thêm</span>

            </a>
           

        </div> 
         <!--Post box3-->
         <div class="post-box">

            <img src="../public/images/giai-cau-long.jfif" alt="" class="post-img">
            <a href=""    class="post-title">
                Giải cầu lông trẻ toàn quốc diễn ra sôi nổi tại Hà Nội
            </a>
            <span class="post-date"><i class="fa-regular fa-calendar-days"></i> Ngày 10 tháng 5 năm 2024</span>
            <p class="post-des">Giải trẻ toàn quốc tại Hà Nội thu hút nhiều tay vợt trẻ...</p>
            <a href="#" target="_blank" class="react"  >
                <span>
                    <i class="fa-regular fa-heart"> 10</i>
                </span>
                <span>   
                  <i class="fa-regular fa-comment" > 12</i>
                </span>
                <span class="more">Xem thêm</span>

            </a>
           

        </div>
       
       
         
    </section>

    <%- include('footer') %>
    
</body>
</html>