@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    width: 100%;
    background-color: #E5E7EB;
    position: relative;
    display: flex;
}

#menu{
    background-color: #111827;
    width: 265px;
    height: 100%;
    position: fixed;
    left: 0;

}

#menu .logo{
    display: flex;
    align-items: center;
    color: #fff;
    padding: 30px 0 0 30px;


}

#menu .logo img{
    width: 40px;
    margin-right: 15px;


}


#menu .items{
    margin-top: 40px;
}

#menu .items li{
    list-style: none;
    padding: 15px 0;
    transition: 0.5s ease;
}
#menu .items li:hover {
    background-color: #253047;
    cursor: pointer;
}

#menu .items li:nth-child(1){
    border-left: 4px solid #fff

}

#menu .items li i {
    color: rgb(134,141,151);
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 14px;
    margin: 0 10px 0 25px ;
}
#menu .items li:hover a ,
#menu .items li:hover i{
    color: #f3f4f6


}

#menu .items li a {
    text-decoration: none;
    color: rgb(134,141,151);
    font-weight: 300;
}

#interface{
    width: calc(100%- 300px);
    margin-left: 265px;
}

#interface .navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    padding: 15px 30px;
    border-bottom: 3px solid #594ef7;
    width: 1100px;

}
#interface .navigation .profile{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#interface .navigation .profile i{
font-size: 19px;
margin-right: 20px;
font-weight: 400;
}


.navigation .profile img{
    width: 40px;
    border-radius: 50%;
}

.i-name{
    color: #444a53;
    padding: 30px 30px 0px 30px ;
    font-size: 24px;
    font-weight: 700;
}


.values{
    padding: 30px 30px 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;


}

.values .val-box{
    background-color: #fff;
    width: 235px;
    padding: 16px 20px;
    border-radius: 5px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.values .val-box:nth-child(1) i{
    background-color: #7B74EC;
}
.values .val-box:nth-child(2) i{
    background-color: #5C8AF0;
}
.values .val-box:nth-child(3) i{
    background-color: #E45D99;
}
.values .val-box:nth-child(4) i{
    background-color: #74daec;
}

.val-box i{
    font-size: 25px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
    color: #fff;
    background-color: #594ef7;
    line-height: 60px;
    margin-right: 15px;
}

.val-box h3 {
    font-size: 18px;
    font-weight: 600;
}
.val-box span{
    font-size: 15px;
    color: #828997;
}
table {
    width: 1040px;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 18px;
    text-align: left;
    margin-left: 30px;
}

thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}

thead th, tbody td {
    padding: 12px 15px;
    border: 1px solid #dddddd;
}

tbody tr {
    border-bottom: 1px solid #dddddd;
}

tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

tbody tr:hover {
    background-color: #f1f1f1;
}

a {
    color: #009879;
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: none;
}

.fix {
    padding: 5px 10px;
}

.edit {
    background-color: yellow;
    border: none;
    border-radius: 20px;
}

.delete {
    background-color: red;
    border: none;
    border-radius: 20px;
}

.content-column {
    max-width: 3 00px;
    word-wrap: break-word;
    white-space: pre-wrap; 
}